.weatherBar { 
    margin: auto;
    width: 100px;
    font-family: cursive;
    font-weight: 525;
}

body { 
    background-image: url(https://image.freepik.com/free-vector/white-blurred-background_1034-249.jpg);
    background-size: cover;
}
.navbar { 
    background-image: url(https://blogs.vmware.com/canada/files/2019/09/cloud-trends.jpg);
    background-size: cover;
}

.leftBox {
    width: 26%;
    margin-bottom: 0px;
    float: left;
    padding-top: 25px;
    background-image: url(https://image.freepik.com/free-vector/white-blurred-background_1034-249.jpg);
    background-size: cover;
}

.searchHolder { 
    width: 100%;
    height: 550px;
}

.searchList { 
    width: 100%;
    background-color: white;
    height: 75px;
    border: 1px solid gray;
    padding: 25px;
}

.searchBtn { 
    height: 31px;
    width: 30px;
    margin-right: 25px;
    color: white;
    background-color: lightskyblue;
}

#searchBar {
    float: left;
}

.searchItem {
    width: 92%;
    height: 170px;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 35px;
    border: 1px solid lightgrey; 
    padding: 5px;   
    overflow: hidden;
    
}

.searchTitle {
    font-size: large;
}

.clearBtn { 
    height: 50px;
    width: 90px;
    border-radius: 8%;
    margin-right: 25px;
    color: black;
    background-color: rgb(234, 246, 253);
}

#right-container { 
    width: 1800px;
    height: 750px;
    margin-right: 0px;
    /* float: left; */
    
}

.searchProp {
    font-size: normal;
}


#searchProp { 
    line-height: 0px;
}

.bigDisplay { 
    width: 98%;
    height: 375px;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 35px;
    border: 1px solid lightgrey; 
    padding: 5px;   
    overflow: hidden;
    display: none;
}


.card-deck { 
    /* border: 3px black solid; */
    height: 378px;
    /* background-color: lightgreen; */
    margin-left: 20px;
    width: 98%;
    
}


.card-main { 
    height: 175px;
    width: 16%;
    margin-top: 197px;
    margin-left: 35px;
    background: blue;
    border-radius: 5%;
    border: 2px solid blue;
    color: white;
}


.card-body { 
    height: 100%;
    background-color: blue;
    color: white;
    padding-right: 25px;

}

#icon { 
    width: 50px;
}

.blueTitle { 
    font-size: x-large;
    text-align: center;
    padding: 0px;
}

.blueTitle1 { 
    font-size: x-large;
    text-align: center;

}
.blueTitle2 { 
    font-size: x-large;
    text-align: center;
}

.blueTitle3 { 
    font-size: x-large;
    text-align: center;

}

.blueTitle4 { 
    font-size: x-large;
    text-align: center;
}

.blueTemp, 
.blueTemp1,
.blueTemp2,
.blueTemp3,
.blueTemp4,
.blueHum, 
.blueHum1,
.blueHum2,
.blueHum3,
.blueHum4 { 
    font-size: large;
    margin-top:15px;
    padding-bottom: 2px;

}


.fiveDay { 
    margin-left: 20px;
}